@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    background-color: lightgray;
}

header {
    background-color: gray;
    border-radius: 16px;
    margin: 55px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

span#menu {
    background-color: darkgray;
    color: white;

    display: block;

    text-align: center;

    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    cursor: pointer;
}

span#menu:hover {
    background-color: white;
    color: black;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(82, 82, 82);
    color: white;
    border-top: 1px solid black;
    border-radius: 10px;
    margin: 1px;

}

menu a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

@media screen and (min-width: 768px) {

    span#menu {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}