@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
    }

    div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        margin-top: 20vh;
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        margin-top: 15vh;
        float: left;
        width: 50%;
    }

    input[type='submit'] {
        width: 50%;
    }
}