@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
    }

    div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        margin-top: 15vh;
        float: right;
        width: 70%;
    }

    input[type='submit'] {
        font-weight: 700;
        width: 22vw;
    }

    input[type="email"] {
        font-weight: 700;
        height: 35px;
        width: 280px;
    }

    input[type="password"] {
        font-weight: 700;
        height: 35px;
        width: 280px;
    }
    
    .campo {
        margin: 10px;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        margin-top: 15vh;
        float: left;
        width: 50%;
    }

    div#telaLogin {
        position: relative;
        bottom: 30px;
    }

    input[type='submit'] {
        font-weight: 700;
        width: 22vw;
    }

    input[type="email"] {
        font-weight: 700;
        height: 30px;
        width: 280px;
    }

    input[type="password"] {
        font-weight: 700;
        height: 30px;
        width: 280px;
    }
}