@charset "UTF-8";

body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow' Arial, sans-serif;
        }
    
h1 {
    color: rgb(250, 250, 250);
    }
    
h2 {
    color: rgb(255, 255, 255);
    
    }
    
p {
    font-size: large;
    text-align: left;
    }