@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
     background-image: linear-gradient(to right, #10454F, #506266 );
}

p {
    text-align: justify;
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 
}

h1{
    color: #04BF9D;
    text-shadow: 0px 2px 15px;
}

h2 {
    color: #10454F ;
}