 * {
        padding: 0;
        margin: 0; 
        box-sizing: border-box;
    }

    .popsicle{
        position: relative;
        width: 150px;
        height: 230px;

        border: 3px solid black;
        border-top-left-radius: 75px;
        border-top-right-radius: 75px;

        background: repeating-linear-gradient(
        45deg,
        #31E88B 0%, #0ec8e0 50%,
        #fd0202 100%
        );

        background-size: 210% 210%;

        animation: p-animation 3s linear infinite alternate-reverse;
    }

    @keyframes p-animation {
        from {
            background-position: 0% 0%;
        }

        to {
            background-position: 100% 100%;
        }
    }

    .stick {
        position: absolute;
        bottom: -81px;
        left: 58%;
        margin-left: -23%;

        width: 40px;
        height: 80px;
        border: 3px solid black;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    body {
        padding: 20px;
        display: flex;
        justify-content: center;
    }